name: Run tests
on: [push, pull_request]
jobs:
  build:
    runs-on: windows-2019

    steps:
    - name: "install choosenim"
      id: cache-choosenim
      run: curl -OL https://github.com/dom96/choosenim/releases/download/v0.6.0/choosenim-0.6.0_windows_amd64_debug.exe

    - name: "install nim"
      id: cache-nim
      run: .\choosenim-0.6.0_windows_amd64_debug.exe -y devel

    - name: "setup nim path"
      id: cache-nim-path
      run: echo "::add-path::C:\Users\runneradmin\.nimble\bin"

    - name: "show nim version"
      run: nim -v

    - name: "setup nimble"
      run: nimble refresh

    - uses: actions/checkout@v1

    - name: "nimble test"
      run: nimble test

    - name: "check for supported openGL versions"
      run: nim c -r tests/opengltester.nim

    - name: "all screenshots"
      run: nim c -r tests/run.nim --compile --testOneFrame --native
